.login-container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 5px;
}

.login-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-card {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.logo-section {
    display: flex;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
}

.asterisk {
    color: #BF3A62;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 2px;
}

.input-style {
    border: 1px solid;
    height: 40px;
    border-radius: 5px;
}

.login-check {
    height: 16px;
    width: 16px;
    background-color: #BF3A62;
    border-radius: 5px;
    color: white;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.primary-btn,
.secondary-btn {
    width: 100%;
    height: 52px;
    border-radius: 5px;
}


.divider {
    text-align: center;
    margin: 0.5rem 0;
}

.login-right {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/../assets/adanibg.jpg');
    border-radius: 16px;
}



